.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: blueviolet;
    margin: 0;
    font: 40px;
}

.nav .nav-search {
    display: flex;
    justify-content: center;
    height: 35px;
    color: blueviolet;
    flex: 1;
}

.nav .nav-search input {
    height: inherit;
    color: blueviolet;
    border: 1px solid blueviolet;
    width: 80%;
}

.nav .nav-search button{
    height: 110%;
    color: blueviolet;
    border: 1px solid blueviolet;
    font: 40px;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
}

.nav ul li {
    margin-right: 10%;
}

.nav ul li a {
    text-decoration: none;
    color: blueviolet;
    font-size: 14px;
}